body {
  font-family: 'PT Sans', sans-serif; 
  background-color: #F8F8F8; 
  color: #383838; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

body, html {
  margin: 0;
  padding: 0;
}
